:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* background: rgb(32,22,122);
background: linear-gradient(142deg, rgba(32,22,122,1) 11%, rgba(79,14,133,1) 33%, rgba(80,0,87,1) 59%, rgba(38,7,111,1) 83%); */
/* background-image: ; */


/* background: #ad5389;  
background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  
background: linear-gradient(to top, #3c1053, #ad5389); */

background-color: black;

}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-div {
  width: 240px;
  height: 280px;
  margin-left: 30px;
  overflow: hidden;
  position: relative;
}

.animated-div img {
  position: absolute;
  top: 0;
  left: 0;
}

.animated-div {
  animation: sexyAnimation 2s infinite ease-in-out;
}

@keyframes sexyAnimation {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 20%;
  }
  25% {
    transform: scale(1.2) rotate(0deg);
    border-radius: 20%;
  }
  50% {
    transform: scale(1.2) rotate(270deg);
    border-radius: 50%;
  }
  75% {
    transform: scale(1.2) rotate(270deg);
    border-radius: 50%;
  }
  100% {
    transform: scale(1) rotate(0deg);
    border-radius: 20%;
  }
}


.animated-text {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
    
}
